<h1>Patient Page <%= name %> </h1>
<form action="/logout?_method=DELETE" method="POST">
    <button class="nav-link fw-bold py-1 px-0 btn p=3 btn-dark text-white" type="submit">Logout</button>

</form>